@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Smart Costa</h1>
    <div class="mt-4">
        <img src="~/images/smartcosta.png" alt="Smart Costa" class="img-fluid" style="max-width: 600px; background-color: black;" />
    </div>
</div>
